services:
  frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000/api
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api
